.nav-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    margin-top:20px;
}
.nav-header_main{
    border-radius: 50%;
    padding:23px 31px 31px 31px;
    border:2px solid rgb(252, 161, 16);
    text-align: center;
    color:rgb(252, 161, 16);
    font-size: 27px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.nav-header_li>span{
    margin-right:75px;
    font-size: 19px;
}
.nav-header_li>span>a{
    text-decoration: none;
    color:grey;
}
.nav-header_li>span>a:hover{
    color:rgb(252, 161, 16);
}
.nav-header_li>span>a:active{
    color:rgb(252, 161, 16);
}

.nav-header_li>span:last-child{
    margin-right:200px;
}
.nav-header_shoppingcart{
    font-size:37px;
    color:rgb(180, 199, 70)
}