.main_text{
    position:absolute;
    left:380px;
    top:240px;
    font-size: 45px;
}
.main_text>p{
    margin-bottom: 0;
    color:rgb(25, 165, 100);
    letter-spacing: 3px;
}
.main_text>button{
    margin-top: 35px;
    font-size:26px;
    padding:6px 40px; 
    background-color: rgb(176, 221, 107);
    border: 0;
    color:honeydew;
    letter-spacing: 6px;
}
.main_text>button:hover{
    background-color: rgb(189, 189, 189);
}
.orange{
    position: absolute;
    top:581px;
    left:310px;
    width: 470px;
    height:230px;
}
.bottle{
    position: absolute;
    top:160px;
    left:200px;
    width:135px;
    height:480px;
}
