.main_text{
    position:absolute;
    left:380px;
    top:240px;
    font-size: 45px;
}
.main_text>p{
    margin-bottom: 0;
    color:rgb(25, 165, 100);
    letter-spacing: 3px;
}
.main_text>button{
    margin-top: 35px;
    font-size:26px;
    padding:6px 40px; 
    background-color: rgb(176, 221, 107);
    border: 0;
    color:honeydew;
    letter-spacing: 6px;
}
.main_text>button>a{
    text-decoration: none;
    color:honeydew;
}
.main_text>button:hover{
    background-color: rgb(189, 189, 189);
}
.orange{
    position: absolute;
    top:581px;
    left:290px;
    width: 570px;
    height:280px;
}
.bottle{
    position: absolute;
    top:200px;
    left:170px;
    width:190px;
    height:570px;
}
