@import url("head-nav.css");
@import url("main_screen.css");
@import url("faq.css");
body{
    background-color: white;
    width:1000px;
    position:absolute;
    left:50%;
    transform: translate(-50%);
}
